{
    "env": {
      "browser": true,
      "es2021": true
    },
    "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:react-hooks/recommended"],
    "parserOptions": {
      "ecmaVersion": 12,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "ignorePatterns": ["**/test/*test.js"],
    "plugins": ["react", "react-hooks"],
     "rules": {
      "no-unused-vars": "error",
      "no-undef": "error",
      "indent": ["error", 2],
      "quotes": ["error", "single"],
      "jest/valid-expect": 0
    },
    "eslintIgnore": ["*.spec.ts", "world.js"]
}  